* {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    padding: 25px;
    text-align: center;
}
 
header h1 {
    margin: 0;
    font-size: 28px;
}

.destaque {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 30px 12%;
    background-color: #111;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "principal principal"
        "texto imagens";
 
    gap: 20px;
}

.imagem-principal {
    grid-area: principal;
    width: 100%;
    height: 315px;
    object-fit: cover;
    border-radius: 4px;
}

.texto {
    grid-area: texto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.texto p {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.4;
}
 
.texto a {
    width: fit-content;
    padding: 12px 25px;
    background-color: #ddd;
    color: #222;
    border-radius: 25px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.imagens-menores {
    grid-area: imagens;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
 
.imagens-menores img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 4px;
}

.galeria {
    width: 95%;
    max-width: 1150px;
    margin: 20px auto 0;
    padding: 60px 30px;
    background-color: #fff4ef;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 250px 250px;
    gap: 10px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagem-2,
.imagem-4 {
    grid-row: span 2;
}
 
footer {
    padding: 20px;
    text-align: center;
    font-size: 13px;
}

@media (max-width: 900px) {
 
    .destaque {
        padding: 30px 8%;
    }
 
    .imagem-principal {
        height: 280px;
    }
 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding: 40px 20px;
    }
 
    .imagem-2,
    .imagem-4 {
        grid-row: auto;
    }
 
}
 
@media (max-width: 600px) {
 
    header {
        padding: 20px;
    }
 
    header h1 {
        font-size: 23px;
    }
 
 
    .destaque {
        width: 100%;
        padding: 25px 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "principal"
            "texto"
            "imagens";
    }
 
 
    .imagem-principal {
        height: 210px;
    }
 
 
    .imagens-menores {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
 
 
    .imagens-menores img {
        height: 100px;
    }
 
    .galeria {
        width: 100%;
        padding: 30px 15px;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
 
    .galeria img {
        height: 200px;
    }
 
    .imagem-2,

    .imagem-4 {
        grid-row: auto;
    }
 
}